<body>

  
{{>home/banner}}

{{>home/newArrivals}}


<div class="product-easy">
	
		<div class="container">
            {{#each objects}}
						<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src= "/uploads/{{picture}}" alt="" class="pro-image-front">
										<img src="/uploads/{{picture}}" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
											<span class="product-new-top">New</span>
											
									</div>
									<div class="item-info-product ">
										<h4><a href="single.html">{{title}} </a></h4>
										<div class="info-product-price">
											<span class="item_price">Rs. {{price}}</span>
										</div>
										<a href="#" class="item_add single-item hvr-outline-out button2">Add to cart</a>									
									</div>
								</div>
						</div>
            {{/each	}}
        </div>
	
</div>
    <br>
    <hr>
</body>
